*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Rammetto One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.jpg);
    background-blend-mode: color-burn;
    background-repeat: repeat;
    background-size: cover;
    background-color: #173769;
}

.container{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container h1{
    color: rgb(31, 31, 31);
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000;
    letter-spacing: 3px;
}

.container p{
    color: rgb(31, 31, 31);
    font-size: 1.5em;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000;
}

#turnos{
    color: rgb(69, 207, 51);
}

#recargar{
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    background-color: #da9c17;
    border: none;
    border-radius: 5px;
    border: 1px solid #000;
    transition: all 0.2s;
}

#recargar:hover{
    background-color: #e6bf6b;
}

#recargar:focus{
    outline: none;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 140px;
    width: 100%;
}

.col{
    border:1px solid #fff;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    position: relative;
    transition: all ease 0.5s;
}

.cuadro{
    opacity: 0;
    transition: all ease 0.5s;
    cursor: pointer;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.biggie{
    background-image: url(../images/biggie.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nas{
    background-image: url(../images/nas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fifty{
    background-image: url(../images/fifty.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.snoop{
    background-image: url(../images/snoop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wutang{
    background-image: url(../images/wutang.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.drake{
    background-image: url(../images/drake.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.drdre{
    background-image: url(../images/drdre.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dirty{
    background-image: url(../images/dirty.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jayz{
    background-image: url(../images/jayz.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.kanye{
    background-image: url(../images/kanye.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.completo{
    background-image: url(../images/noise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mensaje{
    display: none;
    justify-content: center;
}


/* Para 1024px */
@media screen and (max-width:1024px) and (min-width:768px){
    .container{
        width: 800px;
    }
    .row{
        height: 130px;
    }
    .col{
        width: 130px;
    }
}
/* Para 768px */

@media screen and (max-width:768px) and (min-width:625px){
    .container{
        width: 700px;
    }
    .row{
        height: 120px;
    }
    .col{
        width: 120px;
    }
}

/* Para 625px */

@media screen and (max-width:625px) and (min-width:525px){
    .container{
        width: 600px;
    }
    .row{
        height: 100px;
    }
    .col{
        width: 100px;
    }
}

/* Para 625px */

@media screen and (max-width:525px) and (min-width:425px){
    .container{
        width: 525px;
    }
    .row{
        height: 80px;
    }
    .col{
        width: 80px;
    }
}

/* Para 425px */

@media screen and (max-width:425px) and (min-width:375px){
    .container{
        width: 400px;
    }
    .row{
        height: 65px;
    }
    .col{
        width: 65px;
    }
}

/* Para 320px */

@media screen and (max-width:320px) and (min-width:5px){
    .container{
        width: 320px;
    }
    .row{
        height: 50px;
    }
    .col{
        width: 50px;
    }
}